<% if book.mobi %>
  <td><span class='glyphicon glyphicon-check'></td>
<% else %>
  <td><span class='glyphicon glyphicon-minus'></td>
<% end %>
<% if book.epub %>
  <td><span class='glyphicon glyphicon-check'></td>
<% else %>
  <td><span class='glyphicon glyphicon-minus'></td>
<% end %>
<% if book.pdf %>
  <td><span class='glyphicon glyphicon-check'></td>
<% else %>
  <td><span class='glyphicon glyphicon-minus'></td>
<% end %>
<% if book.txt %>
  <td><span class='glyphicon glyphicon-check'></td>
<% else %>
  <td><span class='glyphicon glyphicon-minus'></td>
<% end %>
<% if book.audio %>
  <td><span class='glyphicon glyphicon-check'></td>
<% else %>
  <td><span class='glyphicon glyphicon-minus'></td>
<% end %>
