.search_part {  display: inline-block; margin-bottom: 15px; }
.check_box {  display: inline-block; margin-top: -15px;  }
.search_finish {  float: left; }
.result {  float: left;}
.search_row {  margin-bottom: 5px;  }
